body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 700px;
 padding: 20px;

}
.header {
    font-size: 22px;
    line-height: 28px;
}
.question{
    display: flex;
    flex-direction: row;
    margin: 5px;
    font-weight: 550;
}

button {
    margin-left: 440px;
    border-radius: 50%;
    padding: 15px;
    background-color: rgba(240, 229, 229, 0.973);
    border: none;
}

button:hover{
    background-color: rgba(223, 212, 212, 0.973);
    cursor: pointer;

}
button:active {
    transform: rotate(90deg);

}
.active {
    transform: rotate(90deg);

}


.question, .answer {
    font-size: 18px;

}
.answer {
border-top: 1px solid rgb(206, 188, 188);
display: none;

}

.display {
    display: block;
}